{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    {% render_bundle 'main' 'css' %}

    <link rel="icon" href="./images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="./images/favicon-16x16.png" sizes="16x16" />

    <script type="text/javascript">
        window.SS_CONFIG = {
            title: '{{ title|escapejs }}',
            staticRoot: '{% static "/" %}',
            mbtileserverRoot: '{{ mbtileserverRoot|default:"" }}'
        }
    </script>

    {% include 'snippets/ga.html' with enable_ga=enable_ga ga_id=ga_id %}
</head>
<body>
    <div id="SeedsourceApp"></div>

    {% if not debug %}
        {% render_bundle 'vendor' 'js' %}
    {% endif %}
    {% render_bundle 'main' 'js' %}
</body>
</html>
