{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    {% if debug %}
        <link rel="stylesheet" href="{% static "css/seedsource.css" %}">
    {% else %}
        <link rel="stylesheet" href="{% static "css/seedsource.min.css" %}">
    {% endif %}

    <link rel="icon" href="{% static "images/favicon-32x32.png" %}" sizes="32x32" />
    <link rel="icon" href="{% static "images/favicon-16x16.png" %}" sizes="16x16" />

    <script type="text/javascript">
        window.SS_CONFIG = {
            title: '{{ title|escapejs }}',
            staticRoot: '{% static "/" %}'
        }
    </script>

    {% include 'snippets/ga.html' with enable_ga=enable_ga ga_id=ga_id %}
</head>
<body>
    <div id="SeedsourceApp"></div>

    {% if debug %}
        <script type="text/javascript" src="{% static "js/seedsource.js" %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static "js/seedsource.min.js" %}"></script>
    {% endif %}
</body>
</html>
